html,
body {
  margin: 0;
  background-color: rgb(51, 108, 93);
}

/* CSS */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  @media (max-width: 600px) {
  }
}
